body{
    background-image: url("https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif ;
    padding: 20px;
}
a{
    text-decoration: none;
    color: brown;
    margin-right: 20px;
    font-size: 55px;
}
a:hover{
    color: rgb(150, 105, 26);
}

p{
    font-size: 35px;
    color: rgb(59, 55, 55);


}
ul{
    font-size: 28px;
}
h1{
    font-size: 50px;

}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dog{
    display:inline-block;
    width: 22%;;
    margin: 1%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.dog:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(red, green, blue, alpha);

}
.dog img{
    transition: transform 0.4s ease;
    border-radius: 10px;
}
.dog:hover img{
    transform: scale(0.9);
}
.dog p{
    transition: transform 0.5 ease;
}
.dog:hover p{
    color:darkblue ;
}

.links a:hover {
    transform: scale(0.9);
    transition: transform 0.4s ease;

}


