body {
    background-image: url("https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif ;
    padding: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: brown;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.dog {
    background-color: white;
    min-width: 250px;
    width: calc(25% - 20px);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.dog:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dog img {
    width: 100%;
    height: auto;
    border-radius: 10px
    transition: transform 0.4s ease;
}

.dog:hover img {
    transform: scale(0.9);
}

p {
    font-size: 25px;
    color: rgb(59, 55, 55);
}

.dog p {
    transition: transform 0.5 ease;
}

.dog:hover p {
    color:darkblue ;
}

.links a {
    text-decoration: none;
    color: brown;
    margin-right: 20px;
    font-size: 40px;
    display: inline-block;
    transition: transform 0.4s ease;
}

.links a:hover {
    color: rgb(150, 105, 26);
    transform: scale(0.9);
}

@media (max-width: 600px) {
    .dog {
        width: 100%;
    }
    h1 {
    font-size: 35px;
    }
}

ul {
    font-size: 28px;
}


